<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Formulaire Facture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div  layout:fragment="content" class="container mt-5">
    <h1 class="text-center mb-4">Formulaire Facture</h1>
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form th:action="@{/factures}" th:object="${facture}" method="post">
                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                    <label for="ficheTraitement" class="form-label">Ajouter une Fiche de Traitement :</label>
                    <select id="ficheTraitement" name="ficheTraitementIds" class="form-select" multiple required>
                        <option th:each="ficheTraitement : ${fichesTraitement}"
                                th:value="${ficheTraitement.id}"
                                th:text="${ficheTraitement.patient.nom + ' ' + ficheTraitement.patient.prenom + ' - ' + ficheTraitement.traitement}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Date :</label>
                    <input type="date" id="date" th:field="*{date}" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="montantTotal" class="form-label">Montant Total :</label>
                    <input type="number" id="montantTotal" th:field="*{montantTotal}" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="montantPaye" class="form-label">Montant Payé :</label>
                    <input type="number" id="montantPaye" th:field="*{montantPaye}" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
